body {
    background-color: var(--black);
    font-family: "Josefin Sans", sans-serif;
    color: white;
}

.center {
    display:flex;
    height: 100vh;
    position: relative;
    margin:auto;
    justify-content: center;
    align-items: center;
}

.enter-btn {
    font-size: 48px;
    text-decoration: none;
    background-color: var(--greenshade);
    border-radius: 61px;
    padding: 0px;
}

.front {
    display: block;
    font-weight: 500;
    font-family: sans-serif;
    background-color: var(--green);
    padding: 3px 40px;
    border-radius: 61px;
    transform: translateY(-10px);
}

.enter-btn:active .front {
    transform: translateY(-2px);
}

.chart-img {
    aspect-ratio: 1;
    object-fit: cover;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    height: 80px;
    transform: rotate(180deg);
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 5px;
    background: #fff;
    animation: lds-facebook 0.7s cubic-bezier(1, 0.75, 0.5, 0.25) infinite;
}
.lds-facebook div:nth-child(1) {
    left: -30px;
    animation-delay: -0.15s;
}
.lds-facebook div:nth-child(2) {
    left: -20px;
    animation-delay: -0.1s;
}
.lds-facebook div:nth-child(3) {
    left: -10px;
    animation-delay: -0.2s;
}
.lds-facebook div:nth-child(4) {
    left: 0px;
    animation-delay: -0.3s;
}
.lds-facebook div:nth-child(5) {
    left: 10px;
    animation-delay: -0.2s;
}
.lds-facebook div:nth-child(6) {
    left: 20px;
    animation-delay: -0.1s;
}
@keyframes lds-facebook {
50% {
    height: 10px;
}
0%, 100% {
    height: 30px;
}
}